.git
.github
.cursor
.vscode
.idea

node_modules
**/node_modules

target
**/target

.nuxt
**/.nuxt
.output
**/.output
.cache
**/.cache

.env
.env.local
.env.*.local

.DS_Store
*.log

.gnupg
**/.gnupg
